@model CustomIdentityCore2.Web.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Account Dashboard";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome To Custom Asp.Net Identity Core 2.2!</h2>
    </div>
</div>